rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users collection
    match /users/{userId} {
      allow read, write: if request.auth != null
                          && request.auth.uid == userId;
    }

    // Cart items
    match /carts/{userId}/items/{itemId} {
      allow read, write: if request.auth != null
                          && request.auth.uid == userId;
    }

    // Favorites items
    match /favorites/{userId}/items/{itemId} {
      allow read, write: if request.auth != null
                          && request.auth.uid == userId;
    }
  }
}
